.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messages {
  width: 25em;
  border: .07em solid #4a4a4a;
  border-radius: .125em;
  box-shadow: .125em .125em 0em 0em #4a4a4a;
  padding: 1em;
}

.message-list {
  min-height: 15em;
  max-height: 15em;
  background-color: #f3f3f3;
  overflow: auto;
}

.chat-msg-box {
  width: 19em;
  height: 2.25em;
  border: .07em solid #4a4a4a;
  border-radius: .125em;
  box-shadow: .125em .125em 0em 0em #4a4a4a;
  font-size: 16px;
  padding-left: 6px;
}

.button {
  width: 6em;
  height: 3em;
  background-color: #1eb98a;
  border: .07em solid #4a4a4a;
  border-radius: .125em;
  box-shadow: .125em .125em 0em 0em #4a4a4a;
}

.button:hover {
  background-color: #38eaa7;
  cursor: pointer;
}

.container h1 {
  font-family: AmpleSoft,sans-serif;
  text-shadow: 0 0 0.3125em rgba(0,0,0,.15);
}

.list-messages {
  list-style-type: none;
  padding: 5px
}

@media (max-width: 768px) {

  .messages {
    width: 20em;
  }

  .chat-msg-box {
    width: 15em;
  }

  .button {
    width: 5em;
  }
}